<input type="radio" name="gender" value="Male" (change)="getRadioSelected($event)" checked>Male
<input type="radio" name="gender" value="Female" (change)="getRadioSelected($event)">Female

<br><br>

Selected Option : -

&nbsp;&nbsp;{{ radioSelected }}
<br>
<hr>

<!-- Using 2 Arrays -->

Using 2 Arrays
<br><br>

<div *ngFor="let hobby of hobbiesForSingleArray">
  <input type="checkbox" name="{{ hobby }}" value="{{ hobby }}" (change)="getCheckboxSelected($event)"> {{ hobby }}
</div>

<br>

Selected Option : -
<span *ngFor="let hobby of hobbiesSelected">
  &nbsp;&nbsp;{{ hobby }}
</span>

<br><hr>

<!-- Using Object Array -->

Using Object Array
<br><br>

<div *ngFor="let hobby of hobbiesForSingleArray">
  <input type="checkbox" name="{{ hobby }}" value="{{ hobby }}" (change)="getCheckboxSelected1($event)"> {{ hobby }}
</div>
<br>

Selected Option : -

<span *ngFor="let hobby of hobbiesForObjectArray">
  <span *ngIf="hobby.isSelected">
    &nbsp;&nbsp;{{ hobby.hobbyName }}
  </span>
</span>

<br><hr>

<select (change)="getOptionSelected($event)">
  <option *ngFor="let hobby of hobbiesForSingleArray">{{hobby}}</option>
</select>

<br><br>

Selected Option : -

&nbsp;&nbsp;{{ hobbySelectedSingleArray }}

<br><hr>

<select (change)="getOptionSelected1($event)">
  <option *ngFor="let hobby of hobbiesForSingleArray">{{hobby}}</option>
</select>

<br><br>

Selected Option : -

&nbsp;&nbsp;{{ hobbySelectedObjectArray.id }} &nbsp;&nbsp; {{ hobbySelectedObjectArray.hobbyName }}

<br><br>

<router-outlet></router-outlet>
